* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fl-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tod .button-tod {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  transition: box-shadow .2s, -webkit-transform .1s, transform .1s;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
  width: auto;
}

.tod .button-tod:focus-visible {
  -webkit-box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
          box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
}

.tod .button-tod:active {
  background-color: #F7F7F7;
  border-color: #000000;
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.tod .button-tod:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.tod .button-tod-2 {
  border-radius: 50%;
  padding: 10px;
  border: 0;
  width: 50px;
  height: 50px;
}

.tod header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: antiquewhite;
  padding: 10px;
}

.tod header h1 {
  font-size: xx-large;
  margin-bottom: 20px;
}

.tod main {
  height: calc(100vh - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tod main #data-spin-action {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  padding: 12px;
  color: #594300;
  max-width: 70vw;
  background: #ffc718;
  border-radius: 12px;
  line-height: 1.1em;
}

.tod main section .play-area ul.players {
  position: relative;
  padding: 0;
  margin: 1em auto;
  width: 25em;
  height: 25em;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
}

.tod main section .play-area ul.players li.player-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.tod main section .play-area ul.players li.player-container .player {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  text-align: center;
  padding-top: 20px;
}

.tod main section .play-area ul.players li.player-container .player img {
  padding-bottom: 5px;
}

.tod main section .bottle {
  position: relative;
  border: 1vmin solid #381918;
  border-radius: 50%;
  width: 260px;
  height: 260px;
}

.tod main section .bottle img.spinner-bottle {
  width: 80%;
  height: 80%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
  -webkit-transition-duration: 2.5s;
          transition-duration: 2.5s;
}

.root {
  height: 100vh;
  border: 100px solid #6d695c;
  border-right: clamp(calc(0.1 * 100vh), calc(0.2 * 100vh), calc(0.3 * 100vw)) solid #edacac;
  border-left: clamp(calc(0.1 * 100vh), calc(0.2 * 100vh), calc(0.3 * 100vw)) solid #edacac;
  border-bottom: clamp(calc(0.1 * 100vh), calc(0.2 * 100vh), calc(0.3 * 100vw)) solid rosybrown;
  border-top: clamp(calc(0.1 * 100vh), calc(0.2 * 100vh), calc(0.3 * 100vw)) solid rosybrown;
}

.root .floor {
  height: 100%;
  width: 100%;
  background-color: #269;
}

.root .floor .play-area ul.players {
  position: relative;
  padding: 0;
  margin: 1em auto;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
}

.root .floor .play-area ul.players li.player-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.root .floor .play-area ul.players li.player-container .player {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  text-align: center;
  padding-top: 20px;
}

.root .floor .play-area ul.players li.player-container .player img {
  padding-bottom: 5px;
}

.root .floor .bottle {
  position: relative;
  border: 1vmin solid #381918;
  border-radius: 50%;
  width: 260px;
  height: 260px;
}

.root .floor .bottle img.spinner-bottle {
  width: 80%;
  height: 80%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
  -webkit-transition-duration: 2.5s;
          transition-duration: 2.5s;
}

.root .door {
  height: 200px;
  width: 100px;
  color: #381918;
}

.shippo-pattern {
  background-color: #def;
  background-image: radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, 0.3) 99%), radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, 0.3) 99%);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

.argycle-pattern {
  background-color: #6d695c;
  background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 60px), linear-gradient(60deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1)), linear-gradient(120deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1));
  background-size: 70px 120px;
}

.lined-paper-pattern {
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}

.blue-print-pattern {
  background-color: #269;
  background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.chocolate-weave-pattern {
  background: linear-gradient(45deg, #dca 12%, transparent 0, transparent 88%, #dca 0), linear-gradient(135deg, transparent 37%, #a85 0, #a85 63%, transparent 0), linear-gradient(45deg, transparent 37%, #dca 0, #dca 63%, transparent 0) #753;
  background-size: 25px 25px;
}

.honey-comb-pattern {
  background: radial-gradient(circle farthest-side at 0% 50%, #fb1 23.5%, rgba(240, 166, 17, 0) 0), 21px 30px, radial-gradient(circle farthest-side at 0% 50%, #B71 24%, rgba(240, 166, 17, 0) 0), 19px 30px, linear-gradient(#fb1 14%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 85%, #fb1 0), 0 0, linear-gradient(150deg, #fb1 24%, #B71 0, #B71 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #B71 0, #B71 76%, #fb1 0), 0 0, linear-gradient(30deg, #fb1 24%, #B71 0, #B71 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #B71 0, #B71 76%, #fb1 0), 0 0, linear-gradient(90deg, #B71 2%, #fb1 0, #fb1 98%, #B71 0%), 0 0 #fb1;
  background-size: 40px 60px;
}
/*# sourceMappingURL=style.css.map */