* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  // overflow: hidden;
}

.flex {
  display: flex;
}

.fl-col {
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tod {

  // Generic Styles
  .button-tod {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
  }

  .button-tod:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }

  .button-tod:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
  }

  .button-tod:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }

  .button-tod-2 {
    border-radius: 50%;
    padding: 10px;
    border: 0;
    width: 50px;
    height: 50px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 10px;

    h1 {
      font-size: xx-large;
      margin-bottom: 20px;
    }
  }

  main {
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;

    #data-spin-action {
      font-size: 18px;
      text-align: center;
      font-weight: 700;
      padding: 12px;
      color: #594300;
      max-width: 70vw;
      background: #ffc718;
      border-radius: 12px;
      line-height: 1.1em;
    }

    section {

      .play-area {

        ul.players {
          position: relative;
          // border: 1px solid black;
          padding: 0;
          margin: 1em auto;
          width: 25em;
          height: 25em;
          border-radius: 50%;
          list-style: none;
          overflow: hidden;

          li.player-container {
            overflow: hidden;
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 50%;
            transform-origin: 0% 100%;

            .player {
              position: absolute;
              left: -100%;
              width: 200%;
              height: 200%;
              text-align: center;
              padding-top: 20px;

              img {
                padding-bottom: 5px;
              }
            }
          }
        }
      }

      .bottle {
        position: relative;
        border: 1vmin solid #381918;
        border-radius: 50%;
        width: 260px;
        height: 260px;

        img.spinner-bottle {
          width: 80%;
          height: 80%;
          transition-property: transform;
          transition-timing-function: cubic-bezier(.3, 0, 0, 1);
          transition-duration: 2.5s;
        }
      }
    }
  }
}

.root {
  height: 100vh;
  // position: absolute;

  border: 100px solid #6d695c;
  border-right: clamp(calc(0.1 * 100vh), calc(0.2 * 100vh), calc(0.3 * 100vw)) solid #edacac;
  border-left: clamp(calc(0.1 * 100vh), calc(0.2 * 100vh), calc(0.3 * 100vw)) solid #edacac;
  border-bottom: clamp(calc(0.1 * 100vh), calc(0.2 * 100vh), calc(0.3 * 100vw)) solid rosybrown;
  border-top: clamp(calc(0.1 * 100vh), calc(0.2 * 100vh), calc(0.3 * 100vw)) solid rosybrown;

  .floor {
    // height: clamp(calc(0.6 * 100vh), calc(0.5 * 100vh), calc(0.6 * 100vw));
    // width: calc(0.6 * 100vw);
    height: 100%;
    width: 100%;
    background-color: #269;

    .play-area {

      ul.players {
        position: relative;
        // border: 1px solid black;
        padding: 0;
        margin: 1em auto;
        // width: 25em;
        // height: 25em;
        border-radius: 50%;
        list-style: none;
        overflow: hidden;

        li.player-container {
          overflow: hidden;
          position: absolute;
          top: 0;
          right: 0;
          width: 50%;
          height: 50%;
          transform-origin: 0% 100%;

          .player {
            position: absolute;
            left: -100%;
            width: 200%;
            height: 200%;
            text-align: center;
            padding-top: 20px;

            img {
              padding-bottom: 5px;
            }
          }
        }
      }
    }
    .bottle {
      position: relative;
      border: 1vmin solid #381918;
      border-radius: 50%;
      width: 260px;
      height: 260px;

      img.spinner-bottle {
        width: 80%;
        height: 80%;
        transition-property: transform;
        transition-timing-function: cubic-bezier(.3, 0, 0, 1);
        transition-duration: 2.5s;
      }
    }
  }

  .door {
    // position: relative;
    height: 200px;
    width: 100px;
    color: #381918;
  }
}

// Reference for creating circle with equal parts: https://stackoverflow.com/questions/29006214/how-to-divide-a-circle-into-12-equal-parts-with-color-using-css3-javascript

// CSS3 patterns - Ref: https://projects.verou.me/css3patterns/

.shippo-pattern {
  background-color: #def;
  background-image: radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, .3) 99%),
    radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, .3) 99%);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

.argycle-pattern {
  background-color: #6d695c;
  background-image:
    repeating-linear-gradient(120deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px),
    repeating-linear-gradient(60deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px),
    linear-gradient(60deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1)),
    linear-gradient(120deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1));
  background-size: 70px 120px;
}

.lined-paper-pattern {
  background-color: #fff;
  background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

.blue-print-pattern {
  background-color: #269;
  background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.chocolate-weave-pattern {
  background: linear-gradient(45deg, #dca 12%, transparent 0, transparent 88%, #dca 0),
    linear-gradient(135deg, transparent 37%, #a85 0, #a85 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #dca 0, #dca 63%, transparent 0) #753;
  background-size: 25px 25px;
}

.honey-comb-pattern {
  background: radial-gradient(circle farthest-side at 0% 50%, #fb1 23.5%, rgba(240, 166, 17, 0) 0), 21px 30px, radial-gradient(circle farthest-side at 0% 50%, #B71 24%, rgba(240, 166, 17, 0) 0), 19px 30px, linear-gradient(#fb1 14%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 85%, #fb1 0), 0 0, linear-gradient(150deg, #fb1 24%, #B71 0, #B71 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #B71 0, #B71 76%, #fb1 0), 0 0, linear-gradient(30deg, #fb1 24%, #B71 0, #B71 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #B71 0, #B71 76%, #fb1 0), 0 0, linear-gradient(90deg, #B71 2%, #fb1 0, #fb1 98%, #B71 0%), 0 0 #fb1;
  background-size: 40px 60px;
}
