* {
  box-sizing: border-box;
  margin: 0;
}

.tod {

  // Generic Styles
  .button-tod {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: auto;
  }

  .button-tod:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }

  .button-tod:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
  }

  .button-tod:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }

  .button-tod-2 {
    border-radius: 50%;
    padding: 10px;
    border: 0;
    width: 50px;
    height: 50px;
  }

  .flex {
    display: flex;
  }

  .fl-col {
    flex-direction: column;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 10px;

    h1 {
      font-size: xx-large;
      margin-bottom: 20px;
    }
  }

  main {
    background-color: #DDDDDD;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(2, 57%, 40%);
    background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0, 0, 0, .4) 50px, rgba(0, 0, 0, .4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, .4) 63px, rgba(0, 0, 0, .4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, .5) 116px, rgba(0, 0, 0, .5) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(0, 0, 0, .5) 169px, rgba(0, 0, 0, .5) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(0, 0, 0, .5) 182px, rgba(0, 0, 0, .5) 232px, transparent 232px),
      repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0, 0, 0, .4) 50px, rgba(0, 0, 0, .4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, .4) 63px, rgba(0, 0, 0, .4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, .5) 116px, rgba(0, 0, 0, .5) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(0, 0, 0, .5) 169px, rgba(0, 0, 0, .5) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(0, 0, 0, .5) 182px, rgba(0, 0, 0, .5) 232px, transparent 232px),
      repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0, 0, 0, .2) 2px, rgba(0, 0, 0, .2) 3px, transparent 3px, transparent 5px, rgba(0, 0, 0, .2) 5px);

    #data-spin-action {
      font-size: 18px;
      text-align: center;
      font-weight: 700;
      padding: 12px;
      color: #594300;
      max-width: 70vw;
      background: #ffc718;
      border-radius: 12px;
      line-height: 1.1em;
    }

    section {

      .play-area {

        ul.players {
          position: relative;
          // border: 1px solid black;
          padding: 0;
          margin: 1em auto;
          width: 25em;
          height: 25em;
          border-radius: 50%;
          list-style: none;
          overflow: hidden;

          li.player-container {
            overflow: hidden;
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 50%;
            transform-origin: 0% 100%;

            .player {
              position: absolute;
              left: -100%;
              width: 200%;
              height: 200%;
              text-align: center;
              // transform: skewY(60deg) rotate(15deg);
              padding-top: 20px;

              img {
                padding-bottom: 5px;
              }
            }
          }
        }
      }

      .bottle {
        position: relative;
        background-color: #958686;
        border: 1vmin solid #381918;
        border-radius: 50%;

        background: linear-gradient(45deg, #dca 12%, transparent 0, transparent 88%, #dca 0),
          linear-gradient(135deg, transparent 37%, #a85 0, #a85 63%, transparent 0),
          linear-gradient(45deg, transparent 37%, #dca 0, #dca 63%, transparent 0) #753;
        background-size: 25px 25px;

        width: 260px;
        height: 260px;

        img.spinner-bottle {
          width: 80%;
          height: 80%;
          transition-property: transform;
          transition-timing-function: cubic-bezier(.3, 0, 0, 1);
          transition-duration: 2.5s;
        }
      }
    }
  }
}

// li.player-container:first-child {
//   transform: rotate(0deg) skewY(-60deg);
// }

// li.player-container:nth-child(2) {
//   transform: rotate(30deg) skewY(-60deg);
// }

// li.player-container:nth-child(3) {
//   transform: rotate(60deg) skewY(-60deg);
// }

// li.player-container:nth-child(4) {
//   transform: rotate(90deg) skewY(-60deg);
// }

// li.player-container:nth-child(5) {
//   transform: rotate(120deg) skewY(-60deg);
// }

// li.player-container:nth-child(6) {
//   transform: rotate(150deg) skewY(-60deg);
// }

// li.player-container:nth-child(7) {
//   transform: rotate(180deg) skewY(-60deg);
// }

// li.player-container:nth-child(8) {
//   transform: rotate(210deg) skewY(-60deg);
// }

// li.player-container:nth-child(9) {
//   transform: rotate(240deg) skewY(-60deg);
// }

// li.player-container:nth-child(10) {
//   transform: rotate(270deg) skewY(-60deg);
// }

// li.player-container:nth-child(11) {
//   transform: rotate(300deg) skewY(-60deg);
// }

// li.player-container:nth-child(12) {
//   transform: rotate(330deg) skewY(-60deg);
// }

li.player-container:first-child .player {
  background: green;
}

li.player-container:nth-child(2) .player {
  background: tomato;
}

li.player-container:nth-child(3) .player {
  background: aqua;
}

li.player-container:nth-child(4) .player {
  background: yellow;
}

li.player-container:nth-child(5) .player {
  background: orange;
}

li.player-container:nth-child(6) .player {
  background: purple;
}

li.player-container:nth-child(7) .player {
  background: cyan;
}

li.player-container:nth-child(8) .player {
  background: brown;
}

li.player-container:nth-child(9) .player {
  background: gray;
}

li.player-container:nth-child(10) .player {
  background: pink;
}

li.player-container:nth-child(11) .player {
  background: maroon;
}

li.player-container:nth-child(12) .player {
  background: gold;
}
